@{

    Conta conta = ViewBag.Conta;

    Layout = "~/Views/Shared/_Layout.cshtml";

    

}

@model Lancamento

<div class="container">

    <h1 class="display-3">Cadastrar lancamento</h1>

    <!-- REGISTER FORM -->
    <form asp-controller="Lancamento" asp-action="Create" method="post">

        <fieldset>

            <!-- Validation Errors -->
            <div asp-validation-summary="ModelOnly"></div>

            <legend> Register </legend>

            <!-- Conta -->
            <div class="form-group">

                <label asp-for="ContaId">Conta</label>

                <!-- SELECT CONTA -->
                <select class="form-control" disabled>

                    <option>@conta.FirstName</option>

                </select>

                <input asp-for="ContaId" value="@conta.Id" style="display:none" />

            </div>

            <!-- Categoria -->
            <div class="form-group">

                <label asp-for="CategoriaId">Categoria</label>

                <select asp-items="@ViewBag.Categorias" asp-for="CategoriaId" class="form-control">

                    <option> - - SELECIONAR - - </option>

                </select>

            </div>

            <!-- Descrição -->
            <div class="form-group">

                <!-- Descricao -->
                <label asp-for="Description">Descricao</label>
                <input asp-for="Description" type="text" placeholder="Descricao" class="form-control" />

            </div>

            <!-- Valor -->
            <div class="form-group">

                <label asp-for="Valor"> Valor </label>
                <input asp-for="Valor" placeholder="$1,000,000.00" class="form-control" />

            </div>

            <div class="form-group">

                <div class="form-check">

                    @Html.RadioButtonFor(Lancamento => Lancamento.isProfit, true) 
                    <label class="form-check-label" for="exampleRadios1">
                        Ganho
                    </label>

                </div>

                <div class="form-check">

                    @Html.RadioButtonFor(Lancamento => Lancamento.isProfit, false) 
                    <label class="form-check-label" for="exampleRadios2">
                        Despesa
                    </label>

                </div>

            </div>

            <span asp-validation-for="Description" class="text-danger"></span>

            <!-- SUBMIT -->
            <input type="submit" value="Cadastrar lancamento" class="btn btn-primary" />

        </fieldset>

    </form>

</div>