@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

@model List<Categoria>

<div class="container">

    <h1 class="display-4">Categorias</h1>

    <a asp-action="Create" asp-controller="Categoria" class="btn btn-success">Add</a>

    <table class="table">

        <thead>

            <tr>

                <th scope="col"> ID </th>
                <th scope="col"> Nome </th>
                <th scope="col"> N° lançamentos </th>
                <th scope="col"> Creation Date </th>
                <th scope="col"></th>

            </tr>

        </thead>

        <tbody>

            @foreach (Categoria categoria in Model)
            {

                <tr>

                    <th>@categoria.Id</th>
                    <th>@categoria.Nome</th>
                    <th>@categoria.Lancamentos.Count </th>
                    <th>@categoria.CreationDate</th>

                    <th>

                        <a asp-action="Delete" asp-controller="Categoria" asp-route-id="@categoria.Id" class="btn btn-danger"> Delete </a>
                        <a asp-action="Update" asp-controller="Categoria" asp-route-id="@categoria.Id" class="btn btn-info"> Update </a>

                    </th>

                </tr>

            }

        </tbody>

    </table>

 </div>

