@{

    //C# code

    //int Quantity = ViewBag.Quantidade;

    //List<Conta> Contas = ViewBag.Contas;
    

}

@model List<Conta>

<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="utf-8">

    <title> - Account page - </title>

</head>

<body>

    <h1> - Welcome - </h1>

    <hr />

    <a asp-action="Create" asp-controller="Conta">Click here to register a new account</a>

    <!--
    <h1> - Register - </h1>

    REGISTER FORM
    <for asp-controller="Conta" asp-action="Create" method="post">

        <fieldset>


            <!-- Validation Errors
            <div asp-validation-summary="All"></div>

            <legend> Register </legend>

            <!-- FIRST NAME
            <label for="firstNameTxt"> Name </label>
            <input name="firstNameTxt" type="text" placeholder="First name" />

            <!-- SECOND NAME
            <label for="secondNameTxt"> Second name </label>
            <input name="secondNameTxt" type="text" placeholder="Second name" />

            <!-- CPF
            <label for="cpfTxt"> Cpf </label>
            <input name="cpfTxt" type="text" placeholder="CPF" />

            <!-- SUBMIT
            <input type="submit" value="Cadastrar" />

        </fieldset>

    </form> -->

    <h1> - List - </h1>

    <table>

        <thead>

            <tr>

                <th> ID </th>
                <th> First name </th>
                <th> Second name </th>
                <th> CPF </th>
                <th> Creation date </th>

                <th></th>

            </tr>

        </thead>

        <!-- LISTING ALL ACCOUNTS -->
        <tbody>

            @foreach (Conta y in Model)
            {

                <tr>

                    <th>@y.Id</th>

                    <th>@y.FirstName</th>

                    <th>@y.SecondName</th>

                    <th>@y.Cpf</th>

                    <th>@y.CreationDate</th>

                    <th>

                        <a asp-action="Remove" asp-controller="Conta" asp-route-id="@y.Id"> Delete </a>
                        <a asp-action="Update" asp-controller="Conta" asp-route-id="@y.Id"> Update </a>

                    </th>

                </tr>

            }

        </tbody>

    </table>

</body>

</html> 