@{


    Layout = "~/Views/Shared/_Layout.cshtml";

}

@model List<Conta>

    <div class="container">

        <h1> - Contas - </h1>

        <hr />

        <a asp-action="Create" asp-controller="Conta" class="btn btn-primary">Click here to register a new account</a>
        <!--
    <table class="table table-dark">

        <thead>

            <tr>

                <th scope="col"> ID </th>
                <th scope="col"> First name </th>
                <th scope="col"> Second name </th>
                <th scope="col"> CPF </th>
                <th scope="col"> Creation date </th>

                <th scope="col"> Picture </th>

                <th scope="col"></th>

            </tr>

        </thead>

        <!-- LISTING ALL ACCOUNTS
        <tbody>

            @foreach (Conta conta in Model)
            {

                <tr>

                    <th>@conta.Id</th>

                    <th>@conta.FirstName</th>

                    <th>@conta.SecondName</th>

                    <th>@conta.Cpf</th>

                    <th>@conta.CreationDate</th>

                    <th>

                        <img src="~/images/@conta.Image"
                             alt="@conta.FirstName" />

                    </th>

                    <th>

                        <a asp-action="Delete" asp-controller="Conta" asp-route-id="@conta.Id" class="btn btn-danger"> Delete </a>
                        <a asp-action="Update" asp-controller="Conta" asp-route-id="@conta.Id" class="btn btn-info"> Update </a>

                    </th>

                </tr>

            }

        </tbody>

    </table>-->

        <div class="row">

            @foreach (Conta conta in Model)
            {

                <div class="col-md-3">

                    <div class="card">

                        <img class="card-img-top" src="~/images/@conta.Image" alt="@conta.FirstName" />

                        <div class="card-body">

                            <h5 class="card-title">@conta.FirstName</h5>
                            <h6 class="card-subtitle">@conta.SecondName</h6>
                            <p class="card-text">@conta.Cpf</p>
                            <p class="card-text">@conta.CreationDate</p>
                            <hr />
                            <p class="card-text">Id:>>@conta.Id</p>

                        </div>

                        <div class="card-footer">

                            <a asp-action="Delete" asp-controller="Conta" asp-route-id="@conta.Id" class="btn btn-danger"> Delete </a>
                            <a asp-action="Update" asp-controller="Conta" asp-route-id="@conta.Id" class="btn btn-info"> Update </a>

                        </div>

                    </div>


                </div>

            }



        </div>

    </div>